.sidebar-view-subreddit {
  width: 312px;
  height: 242px;
  --post-line-color: #ccc;
  border: 1px solid #266c18;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #100f0f;
  color: #b3b3b3;
  position: relative;
  border-radius: 34px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-view-subreddit {
  height: 280px;
  overflow-y: auto;
}

.browse-topics-btn {
  background-color: #2b7244;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0.5px auto;
  text-align: center;
  border-radius: 25px;
}

.browse-topics-btn:hover {
  background-color: #3d8730;
}
