<div class="reset-password-section">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="quote-section">
        <h2 class="quote-text">Reset your password</h2>
        <p class="quote-subtext">Enter your new password below.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h4>Reset Password</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <!-- New Password Field -->
            <div class="form-group password-container">
              <label for="password" class="form-label">New Password</label>
              <input [type]="passwordFieldType" [formControlName]="'password'" id="password" class="form-control"
                     name="password" required placeholder="Enter your new password">
              <span class="toggle-password" (click)="togglePasswordVisibility()">
                <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
              </span>
              <div class="validation-message"
                   *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">
                Please provide a valid password
              </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group password-container">
              <label for="confirmPassword" class="form-label">Confirm New Password</label>
              <input [type]="passwordFieldType" [formControlName]="'confirmPassword'" id="confirmPassword" class="form-control"
                     name="confirmPassword" required placeholder="Confirm your new password">
              <div class="validation-message"
                   *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword').touched">
                Passwords do not match
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
