<!-- <footer class="app-footer">
  <div class="footer-container">
    <div class="footer-left">
      <span class="footer-title">Forest - Open Discussion Forum</span>
      <p class="footer-tagline">A place to share, learn and grow together 🌱</p>
    </div>

    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/subreddits">Browse Subforest</a>
      <a href="/create-post">Create Post</a>
      <a href="/create-subreddit">Create Subforest</a>
    </div>

    <div class="footer-right">
      <p>© 2025 Forest Forum. All rights reserved.</p>
    </div>
  </div>
</footer> -->
